In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
data = pd.read_csv('C:/Users/1102j/anaconda/LA_Economics/멕시코-대한민국 경제지표 데이터(행-년도).csv', thousands=',')
data

,국가명,대한민국,멕시코,대한민국.1,멕시코.1,대한민국.2,멕시코.2,대한민국.3,멕시코.3,대한민국.4,...,대한민국.11,멕시코.11,대한민국.12,멕시코.12,대한민국.13,멕시코.13,대한민국.14,멕시코.14,대한민국.15,멕시코.15
0,통계명,GDP(명목)($),GDP(명목)($),GDP성장률(%),GDP성장률(%),"GDP(명목, PPP)($)","GDP(명목, PPP)($)","1인당GNI(명목, Atlas방식)($)","1인당GNI(명목, Atlas방식)($)","1인당GNI(명목, PPP)($)",...,상품수출($),상품수출($),서비스수출($),서비스수출($),상품수입($),상품수입($),서비스수입($),서비스수입($),실업률(%),실업률(%)
1,1960년,"3,957,240,261","13,040,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1961년,"2,417,638,423","14,160,000,000",6.9,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1962년,"2,813,856,976","15,200,000,000",3.8,4.7,NaN,NaN,120,360,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1963년,"3,988,476,879","16,960,000,000",9.2,8.1,NaN,NaN,120,390,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2015년,"1,382,764,027,114","1,170,564,619,928",2.8,3.3,"1,824,331,972,259","2,228,163,971,081","27,250","10,170","35,860",...,"543,082,500,000","380,976,624,705","97,498,600,000","22,903,318,967","422,807,500,000","395,575,217,336","112,124,400,000","32,680,054,725",3.6,4.3
57,2016년,"1,414,804,158,515","1,077,903,618,176",2.9,2.9,"1,903,410,732,086","2,316,428,094,331","27,700","9,400","37,420",...,"511,926,100,000","374,305,172,215","94,809,100,000","24,213,162,696","395,464,400,000","387,374,942,651","112,147,500,000","33,179,025,051",3.7,3.9
58,2017년,"1,530,750,923,149","1,157,736,189,998",3.1,2.1,"1,998,129,726,322","2,424,699,686,101","28,440","8,930","38,650",...,"580,310,200,000","409,806,219,300","89,701,300,000","27,642,937,102","466,717,300,000","420,790,004,013","126,435,400,000","37,510,658,091",3.7,3.4
59,2018년,"1,619,423,701,170","1,220,699,479,846",2.7,2.1,"2,090,161,412,286","2,519,961,979,222","30,620","9,180","39,630",...,"626,266,500,000","451,054,055,752","103,677,500,000","28,766,692,917","516,179,700,000","464,849,865,242","133,046,900,000","37,690,939,966",3.8,3.3
60,2019년,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1,3.4

In [3]:
data = data.reset_index().set_index(data['국가명'])
data

,index,국가명,대한민국,멕시코,대한민국.1,멕시코.1,대한민국.2,멕시코.2,대한민국.3,멕시코.3,...,대한민국.11,멕시코.11,대한민국.12,멕시코.12,대한민국.13,멕시코.13,대한민국.14,멕시코.14,대한민국.15,멕시코.15
국가명,,,,,,,,,,,,,,,,,,,,,
통계명,0,통계명,GDP(명목)($),GDP(명목)($),GDP성장률(%),GDP성장률(%),"GDP(명목, PPP)($)","GDP(명목, PPP)($)","1인당GNI(명목, Atlas방식)($)","1인당GNI(명목, Atlas방식)($)",...,상품수출($),상품수출($),서비스수출($),서비스수출($),상품수입($),상품수입($),서비스수입($),서비스수입($),실업률(%),실업률(%)
1960년,1,1960년,"3,957,240,261","13,040,000,000",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961년,2,1961년,"2,417,638,423","14,160,000,000",6.9,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962년,3,1962년,"2,813,856,976","15,200,000,000",3.8,4.7,NaN,NaN,120,360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963년,4,1963년,"3,988,476,879","16,960,000,000",9.2,8.1,NaN,NaN,120,390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015년,56,2015년,"1,382,764,027,114","1,170,564,619,928",2.8,3.3,"1,824,331,972,259","2,228,163,971,081","27,250","10,170",...,"543,082,500,000","380,976,624,705","97,498,600,000","22,903,318,967","422,807,500,000","395,575,217,336","112,124,400,000","32,680,054,725",3.6,4.3
2016년,57,2016년,"1,414,804,158,515","1,077,903,618,176",2.9,2.9,"1,903,410,732,086","2,316,428,094,331","27,700","9,400",...,"511,926,100,000","374,305,172,215","94,809,100,000","24,213,162,696","395,464,400,000","387,374,942,651","112,147,500,000","33,179,025,051",3.7,3.9
2017년,58,2017년,"1,530,750,923,149","1,157,736,189,998",3.1,2.1,"1,998,129,726,322","2,424,699,686,101","28,440","8,930",...,"580,310,200,000","409,806,219,300","89,701,300,000","27,642,937,102","466,717,300,000","420,790,004,013","126,435,400,000","37,510,658,091",3.7,3.4
2018년,59,2018년,"1,619,423,701,170","1,220,699,479,846",2.7,2.1,"2,090,161,412,286","2,519,961,979,222","30,620","9,180",...,"626,266,500,000","451,054,055,752","103,677,500,000","28,766,692,917","516,179,700,000","464,849,865,242","133,046,900,000","37,690,939,966",3.8,3.3
2019년,60,2019년,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1,3.4

# Data Preprocessing

In [4]:
data.drop(['index', '국가명'], axis=1, inplace=True)
data

,대한민국,멕시코,대한민국.1,멕시코.1,대한민국.2,멕시코.2,대한민국.3,멕시코.3,대한민국.4,멕시코.4,...,대한민국.11,멕시코.11,대한민국.12,멕시코.12,대한민국.13,멕시코.13,대한민국.14,멕시코.14,대한민국.15,멕시코.15
국가명,,,,,,,,,,,,,,,,,,,,,
통계명,GDP(명목)($),GDP(명목)($),GDP성장률(%),GDP성장률(%),"GDP(명목, PPP)($)","GDP(명목, PPP)($)","1인당GNI(명목, Atlas방식)($)","1인당GNI(명목, Atlas방식)($)","1인당GNI(명목, PPP)($)","1인당GNI(명목, PPP)($)",...,상품수출($),상품수출($),서비스수출($),서비스수출($),상품수입($),상품수입($),서비스수입($),서비스수입($),실업률(%),실업률(%)
1960년,"3,957,240,261","13,040,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961년,"2,417,638,423","14,160,000,000",6.9,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962년,"2,813,856,976","15,200,000,000",3.8,4.7,NaN,NaN,120,360,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963년,"3,988,476,879","16,960,000,000",9.2,8.1,NaN,NaN,120,390,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015년,"1,382,764,027,114","1,170,564,619,928",2.8,3.3,"1,824,331,972,259","2,228,163,971,081","27,250","10,170","35,860","17,830",...,"543,082,500,000","380,976,624,705","97,498,600,000","22,903,318,967","422,807,500,000","395,575,217,336","112,124,400,000","32,680,054,725",3.6,4.3
2016년,"1,414,804,158,515","1,077,903,618,176",2.9,2.9,"1,903,410,732,086","2,316,428,094,331","27,700","9,400","37,420","18,810",...,"511,926,100,000","374,305,172,215","94,809,100,000","24,213,162,696","395,464,400,000","387,374,942,651","112,147,500,000","33,179,025,051",3.7,3.9
2017년,"1,530,750,923,149","1,157,736,189,998",3.1,2.1,"1,998,129,726,322","2,424,699,686,101","28,440","8,930","38,650","19,300",...,"580,310,200,000","409,806,219,300","89,701,300,000","27,642,937,102","466,717,300,000","420,790,004,013","126,435,400,000","37,510,658,091",3.7,3.4
2018년,"1,619,423,701,170","1,220,699,479,846",2.7,2.1,"2,090,161,412,286","2,519,961,979,222","30,620","9,180","39,630","19,870",...,"626,266,500,000","451,054,055,752","103,677,500,000","28,766,692,917","516,179,700,000","464,849,865,242","133,046,900,000","37,690,939,966",3.8,3.3
2019년,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1,3.4

In [5]:
data.loc['통계명']

대한민국                   GDP(명목)($)
멕시코                    GDP(명목)($)
대한민국.1                  GDP성장률(%)
멕시코.1                   GDP성장률(%)
대한민국.2            GDP(명목, PPP)($)
멕시코.2             GDP(명목, PPP)($)
대한민국.3     1인당GNI(명목, Atlas방식)($)
멕시코.3      1인당GNI(명목, Atlas방식)($)
대한민국.4         1인당GNI(명목, PPP)($)
멕시코.4          1인당GNI(명목, PPP)($)
대한민국.5            총저축률(GNI 대비)(%)
멕시코.5             총저축률(GNI 대비)(%)
대한민국.6                   예금금리 (%)
멕시코.6                    예금금리 (%)
대한민국.7                    대출금리(%)
멕시코.7                     대출금리(%)
대한민국.8                소비자물가상승률(%)
멕시코.8                 소비자물가상승률(%)
대한민국.9                    경상수지($)
멕시코.9                     경상수지($)
대한민국.10        경상수지(GDP 대비 비율)(%)
멕시코.10         경상수지(GDP 대비 비율)(%)
대한민국.11                   상품수출($)
멕시코.11                    상품수출($)
대한민국.12                  서비스수출($)
멕시코.12                   서비스수출($)
대한민국.13                   상품수입($)
멕시코.13                    상품수입($)
대한민국.14                  서비스수입($)
멕시코.14                   서비스수입($)
대한민국.15                    실업률(%)
멕시코.15                     실업률(%)
Name: 통계명, dtype: object

In [6]:
gdp = data[['대한민국', '멕시코']]
gdp_growth = data[['대한민국.1', '멕시코.1']]
gdp_ppp = data[['대한민국.2', '멕시코.2']]
gni_atlas = data[['대한민국.3', '멕시코.3']]
gni_ppp = data[['대한민국.4', '멕시코.4']]
saving = data[['대한민국.5', '멕시코.5']]
deposit_rate = data[['대한민국.6', '멕시코.6']]
loan_rate = data[['대한민국.7', '멕시코.7']]
inflation = data[['대한민국.8', '멕시코.8']]
curent = data[['대한민국.9', '멕시코.9']]
current_gdp = data[['대한민국.10', '멕시코.10']]
export_good = data[['대한민국.11', '멕시코.11']]
export_service = data[['대한민국.12', '멕시코.12']]
import_good = data[['대한민국.13', '멕시코.13']]
import_service = data[['대한민국.14', '멕시코.14']]
unimpoloyment = data[['대한민국.15', '멕시코.15']]

gdp_growth

          대한민국.1      멕시코.1
국가명
통계명    GDP성장률(%)  GDP성장률(%)
1960년        NaN        NaN
1961년        6.9        5.0
1962년        3.8        4.7
1963년        9.2        8.1
...          ...        ...
2015년        2.8        3.3
2016년        2.9        2.9
2017년        3.1        2.1
2018년        2.7        2.1
2019년        NaN        NaN

[61 rows x 2 columns]

In [7]:
gdp.drop(['통계명'], inplace=True)
gdp_growth.drop(['통계명'], inplace=True)
gdp_ppp.drop(['통계명'], inplace=True)
gni_atlas.drop(['통계명'], inplace=True)
gni_ppp.drop(['통계명'], inplace=True)
saving.drop(['통계명'], inplace=True)
deposit_rate.drop(['통계명'], inplace=True)
loan_rate.drop(['통계명'], inplace=True)
inflation.drop(['통계명'], inplace=True)
curent.drop(['통계명'], inplace=True)
current_gdp.drop(['통계명'], inplace=True)
export_good.drop(['통계명'], inplace=True)
export_service.drop(['통계명'], inplace=True)
import_good.drop(['통계명'], inplace=True)
import_service.drop(['통계명'], inplace=True)
unimpoloyment.drop(['통계명'], inplace=True)

gdp_growth

D:\program\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

      대한민국.1 멕시코.1
국가명
1960년    NaN   NaN
1961년    6.9   5.0
1962년    3.8   4.7
1963년    9.2   8.1
1964년    9.5  11.9
1965년    7.2   7.1
1966년   12.0   6.1
1967년    9.1   5.9
1968년   13.2   9.4
1969년   14.5   3.4
1970년   10.0   6.5
1971년   10.5   3.8
1972년    7.2   8.2
1973년   14.8   7.9
1974년    9.5   5.8
1975년    7.9   5.7
1976년   13.1   4.4
1977년   12.3   3.4
1978년   10.8   9.0
1979년    8.6   9.7
1980년   -1.7   9.2
1981년    7.2   8.5
1982년    8.3  -0.5
1983년   13.2  -3.5
1984년   10.4   3.4
1985년    7.7   2.2
1986년   11.2  -3.1
1987년   12.5   1.7
1988년   11.9   1.3
1989년    7.0   4.1
1990년    9.8   5.2
1991년   10.4   4.2
1992년    6.2   3.5
1993년    6.8   1.9
1994년    9.2   4.9
1995년    9.6  -6.3
1996년    7.6   6.8
1997년    5.9   6.8
1998년   -5.5   5.2
1999년   11.3   2.8
2000년    8.9   4.9
2001년    4.5  -0.4
2002년    7.4  -0.0
2003년    2.9   1.4
2004년    4.9   3.9
2005년    3.9   2.3
2006년    5.2   4.5
2007년    5.5   2.3
2008년    2.8   1.1
2009년    0.7  -5.3
2010년    6.5   5.1
2011년    3.7   3.7
2012년    2.3   3.6
2013년    2.9   1.4
2014년    3.3   2.8
2015년    2.8   3.3
2016년    2.9   2.9
2017년    3.1   2.1
2018년    2.7   2.1
2019년    NaN   NaN

In [8]:
gdp = gdp.dropna()
gdp_growth = gdp_growth.dropna()
gdp_ppp = gdp_ppp.dropna()
gni_atlas = gni_atlas.dropna()
gni_ppp = gni_ppp.dropna()
saving = saving.dropna()
deposit_rate = deposit_rate.dropna()
loan_rate = loan_rate.dropna()
inflation = inflation.dropna()
curent = curent.dropna()
current_gdp = current_gdp.dropna()
export_good = export_good.dropna()
export_service = export_service.dropna()
import_good = import_good.dropna()
import_service = import_service.dropna()
unimpoloyment = unimpoloyment.dropna()

gdp_growth

      대한민국.1 멕시코.1
국가명
1961년    6.9   5.0
1962년    3.8   4.7
1963년    9.2   8.1
1964년    9.5  11.9
1965년    7.2   7.1
1966년   12.0   6.1
1967년    9.1   5.9
1968년   13.2   9.4
1969년   14.5   3.4
1970년   10.0   6.5
1971년   10.5   3.8
1972년    7.2   8.2
1973년   14.8   7.9
1974년    9.5   5.8
1975년    7.9   5.7
1976년   13.1   4.4
1977년   12.3   3.4
1978년   10.8   9.0
1979년    8.6   9.7
1980년   -1.7   9.2
1981년    7.2   8.5
1982년    8.3  -0.5
1983년   13.2  -3.5
1984년   10.4   3.4
1985년    7.7   2.2
1986년   11.2  -3.1
1987년   12.5   1.7
1988년   11.9   1.3
1989년    7.0   4.1
1990년    9.8   5.2
1991년   10.4   4.2
1992년    6.2   3.5
1993년    6.8   1.9
1994년    9.2   4.9
1995년    9.6  -6.3
1996년    7.6   6.8
1997년    5.9   6.8
1998년   -5.5   5.2
1999년   11.3   2.8
2000년    8.9   4.9
2001년    4.5  -0.4
2002년    7.4  -0.0
2003년    2.9   1.4
2004년    4.9   3.9
2005년    3.9   2.3
2006년    5.2   4.5
2007년    5.5   2.3
2008년    2.8   1.1
2009년    0.7  -5.3
2010년    6.5   5.1
2011년    3.7   3.7
2012년    2.3   3.6
2013년    2.9   1.4
2014년    3.3   2.8
2015년    2.8   3.3
2016년    2.9   2.9
2017년    3.1   2.1
2018년    2.7   2.1

In [9]:
gdp = gdp.reset_index()
gdp_growth = gdp_growth.reset_index()
gdp_ppp = gdp_ppp.reset_index()
gni_atlas = gni_atlas.reset_index()
gni_ppp = gni_ppp.reset_index()
saving = saving.reset_index()
deposit_rate = deposit_rate.reset_index()
loan_rate = loan_rate.reset_index()
inflation = inflation.reset_index()
curent = curent.reset_index()
current_gdp = current_gdp.reset_index()
export_good = export_good.reset_index()
export_service = export_service.reset_index()
import_good = import_good.reset_index()
import_service = import_service.reset_index()
unimpoloyment = unimpoloyment.reset_index()

gdp_growth

      국가명 대한민국.1 멕시코.1
0   1961년    6.9   5.0
1   1962년    3.8   4.7
2   1963년    9.2   8.1
3   1964년    9.5  11.9
4   1965년    7.2   7.1
5   1966년   12.0   6.1
6   1967년    9.1   5.9
7   1968년   13.2   9.4
8   1969년   14.5   3.4
9   1970년   10.0   6.5
10  1971년   10.5   3.8
11  1972년    7.2   8.2
12  1973년   14.8   7.9
13  1974년    9.5   5.8
14  1975년    7.9   5.7
15  1976년   13.1   4.4
16  1977년   12.3   3.4
17  1978년   10.8   9.0
18  1979년    8.6   9.7
19  1980년   -1.7   9.2
20  1981년    7.2   8.5
21  1982년    8.3  -0.5
22  1983년   13.2  -3.5
23  1984년   10.4   3.4
24  1985년    7.7   2.2
25  1986년   11.2  -3.1
26  1987년   12.5   1.7
27  1988년   11.9   1.3
28  1989년    7.0   4.1
29  1990년    9.8   5.2
30  1991년   10.4   4.2
31  1992년    6.2   3.5
32  1993년    6.8   1.9
33  1994년    9.2   4.9
34  1995년    9.6  -6.3
35  1996년    7.6   6.8
36  1997년    5.9   6.8
37  1998년   -5.5   5.2
38  1999년   11.3   2.8
39  2000년    8.9   4.9
40  2001년    4.5  -0.4
41  2002년    7.4  -0.0
42  2003년    2.9   1.4
43  2004년    4.9   3.9
44  2005년    3.9   2.3
45  2006년    5.2   4.5
46  2007년    5.5   2.3
47  2008년    2.8   1.1
48  2009년    0.7  -5.3
49  2010년    6.5   5.1
50  2011년    3.7   3.7
51  2012년    2.3   3.6
52  2013년    2.9   1.4
53  2014년    3.3   2.8
54  2015년    2.8   3.3
55  2016년    2.9   2.9
56  2017년    3.1   2.1
57  2018년    2.7   2.1